<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="/public/css/login.css">
    <link rel="stylesheet" type="text/css" href="/public/csSsSsss/regiartion.css">
    <link rel="stylesheet" type="text/css" href="/public/css/postimage.css">
    <link rel="stylesheet" type="text/css" href="/public/css/viewpost.css">
    <link rel="stylesheet" type="text/css" href="/public/css/home.css">

    <script defer type="text/javascript" src="/public/js/home.js"></script>
    <style> 
    #container {
        width: 800px;
        margin: auto;
        display: grid;
        gap: 2px 2px;
        justify-items: center;
        grid-template-columns: repeat(4, 300px);
        grid-template-rows: repeat(4, 300px);
        grid-auto-columns: repeat(4, 400px);
        grid-auto-rows: repeat(4, 400px);
        text-align: center ;
        font-family: Arial, Helvetica, sans-serif;
    }
    </style>
</head>
<body>
   <h1 id="item-count"> 

   </h1>
    <div id="container">
    
    </div>
    <br>
    
</body>
</html>