
<div id="viewBk">
    <div id="resizer">
        <div id="main-content">
             {{#each results}}
                {{>card this}}
            {{/each}}
        </div>
    </div>
</div>


      
    
